<nav class="bg-white shadow-lg">
    <div class="max-w-12xl mx-auto px-4">
        <div class="flex justify-between  space-x-7">
            <a id="nav-logo" href="#" class="flex items-center py-4 px-2">
                <img src="https://blazordev.it/wp-content/uploads/2022/01/logo-blazordevita.svg"
                     alt="Logo"
                     class="h-16 mr-2"/>
            </a>
            <div class="hidden md:flex items-center space-x-4 font-semibold">
                <NavLink href="">
                    <span class="py-4 px-2 text-violet-500 hover:text-violet-800 transition duration-300">Home</span>
                </NavLink>
                <NavLink href="">
                    <span class="py-4 px-2 text-violet-500 hover:text-violet-800 transition duration-300">About</span>
                </NavLink>
                <NavLink href="">
                    <span class="py-4 px-2 text-violet-500 hover:text-violet-800 transition duration-300">Contacts</span>
                </NavLink>
            </div>
        </div>
    </div>
</nav>